{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-6">



    <div class="post">
        {% if post.published_date %}
        <div class="date">
            <a>Publish Date:  </a>{{ post.published_date }}
        </div>
        {% endif %}
        
        {% if post.author %}
        <div class="author">
            <a>Author:  </a>{{ post.author }}
        </div>
        {% endif %}

        <div class="category">
            <a>Category:  </a>{{ post.category }}
        </div>

        {% if user.is_authenticated %}
        <div class="edit">
            <a>Edit the post:</a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        {% endif %}

        <h2><a>{{ post.title }}</a></h2>

        <p>{{ post.text|linebreaksbr }}</p>

    </div>
</div>

    <div class="col-lg-6">
        
        {% if post.image %}
        <img class="img-responsive" src="{{ post.image.url}}" alt="{{ post.title }}" class="post-image">
        {% endif %}

    </div>
    </div>
{% endblock %}
